<div class="change_password_wrap">
    <form name="myForm">
        <input class="inputMark" type="password" placeholder="Enter your current password here" name="current_password" ng-model="current_password"  ng-minlength="6" ng-maxlength="30" maxlength="30" required ng-focus  />
        <input class="inputMark" type="password" placeholder="Enter your new password here (at least 6 chars)" name="new_password" ng-model="new_password"  ng-minlength="6" ng-maxlength="30" maxlength="30" required ng-focus  />
        <input class="inputMark" type="password" placeholder="Retype your new password here" name="retype_new_password" ng-model="retype_new_password"  ng-minlength="6" ng-maxlength="30" maxlength="30" required ng-focus  />
        <button type="button" class="system_button green_button" ng-disabled="myForm.$invalid" ng-class="{disabled:myForm.$invalid}" ng-click="reset()">Reset</button>
    </form>
</div>