    <div class="addEditQuestion addAnswerVoter" ng-init="initCtrl();">
        <div>
            <label>Insert your answer:</label>
            <div class="input_wrap"><input class="inputMark" type="text" placeholder="Type your answer here" name="answer" id="answer" ng-model="answer.answer_description"  ng-minlength=1 ng-maxlength=40 maxlength="40" required ng-focus  /> <div class="limit_field_wrap" ng-class="{high:answer.answer_description.length>35,max:answer.answer_description.length==40}">{{answer.answer_description.length}}/40</div></div>
            <br class="clr" />
        </div>
        <div>
            <label>Insert your description</label>
            <textarea placeholder="Type your description here" name="text" id="text" ng-model="answer.answer" ></textarea>
            <br class="clr" />
        </div>
        <div class="uploader">
            <div class="image_wrap">
                <img src="img/wait_ge.gif" class="loadImage">
                <img class="main_image" src="{{answer.img_bitmap}}" ng-show="answer.img_bitmap" ng-class="{'show' : answer.img_bitmap}" />
                <div class="info">
                    Type: <span class="info_type">JPEG</span>, Size: <span class="info_size">345Kb</span>
                </div>
            </div>
            <div>
                <form id="file_upload_form" target="upload_target" method="post" enctype="multipart/form-data" action="ajax/getImageBitmap.php">
                    <input type="file" class="file" name="image" ng-file-select="onFileSelect($files)" />
                    <button class="browse system_button green_button" type="button">Browse...</button>
                </form>
                <iframe id="upload_target" name="upload_target" src="" style="width:0;height:0;border:0px solid #fff;"></iframe>
            </div>
        </div>
        <input type="hidden" id="img_bitmap" ng-model="answer.img_bitmap" value="{{answer.img_bitmap}}" />
        <input type="hidden" id="img_link" ng-model="answer.img_link" value="{{answer.img_link}}" />
        <div class="actions_wrap" content-load="contentLoad()">
            <button type="button" class="system_button blue_button" style="float:left;" ng-click="cancel()">Cancel</button>
            <button type="button" class="system_button green_button" style="float:right;" ng-click="save()">Save</button>
        </div>
    </div>